*{
    padding:0px 0px;
margin:0px;
}
body{
    display: flex; 
    flex-wrap:wrap;
    width:100vw;
    height: 100vh;
   
    border:none;

}

.background{

background-color: #DBDBDB;
width:100vw;
height:1020px;
position: relative;
text-align: left;
border: none;

}
/* #products{
cursor: pointer;
} */

#head{
    position: relative;
    right: -650px;
    font-size: large;
    color:black;



}


 
.icon{
    
    width: 70px;
    height:auto;
    color: #545353b4;
    position: relative;
    top: 40px;
    right:500px;

    
}

 .head1{
     
    display: inline-flex;
    gap:140px ;
    
 } 

 .menu{
    width:100%;
    height:700px;
    background-color: #545353b4;
    color: white;
font-size: 30px;
    position: relative;
    bottom:1283px;
    left:1380px;

}

.menu p{
    padding: 5px;
}

.menu p:hover ,button:hover{
background-color: black;
cursor: pointer;

}

#close{
    position: relative;
    bottom:1283px;
    left:1370px;
    font-size: 30px;
    font-weight: bolder;
}
#contacts{
    width:20px;
 
    font-size: large;
    transition: 0.4s;
    line-height: 20%;
    position: relative;
    bottom:1295px;
    left:1370px;
 
}
.hide{
    display: none;
}

/* menu.{
    background-color: rgb(209, 19, 19);
    color: white;
    border: none;
    border-radius: 5px;
} */


 #aircolors{
    display: flex;
    
      gap: 200px;
   
       color: black;
       position: relative;
       /* top:-555px; */
       bottom:-80px;
       left:360px
   }
/* #white #black #products {
    cursor: pointer;
} */
p:focus{
    /* background: linear-gradient(to bottom right,#797878 ,#F1F1F1 ); */
    transform: scale(1.1);
}
p:hover{
    /* background: linear-gradient(to bottom right,#797878 ,#F1F1F1 ); */
    letter-spacing: 1px; 
}
span:focus{
    /* background: linear-gradient(to bottom right,#797878 ,#F1F1F1 ); */
    transform: scale(1.1);
}
span:hover{
    /* background: linear-gradient(to bottom right,#797878 ,#F1F1F1 ); */
    letter-spacing: 1px; 
}
span{
    white-space:pre-wrap ;
}


.txt1{
    color:#E2E2E2;
    font-size: 330px;
    white-space: pre-line;
    line-height: 75%;
    position: relative;
    top:80px;
    left: -250;
    padding: 0px 0px;
    font-family: 'Grunge',sans-serif;
    right: 30px;
  


}
#img1{
    height: 765px;
    width: 675px;
    position: absolute;
    top: 125px;
    left: 120px;

    


}


#bold{
    position: relative;
    left: 850px;
    bottom:620px;
    color: #303030;
    font-size: 80px;
    font-weight: bold;
    white-space: pre-line;
    line-height: 85%;
    word-spacing: 0px;
    font-family: 'Grunge',sans-serif
}
#txt2{
    position: relative;
    left:850px;
    bottom:600px;
    color: #A1A1A1;
    font-size: 25px;
    white-space: pre-line;
    /* line-height: 100%; */
    font-family: 'Grunge',sans-serif;  
}
button{
    height: 90px;
    width: 300px;
    border-radius: 60px;
    border:none;
    box-shadow:9px 9px 3px #C4C4C4 ;
    font-size: 30px;
    color: #8a8383;
    cursor: pointer;
    font-family: 'Grunge',sans-serif;
    background: linear-gradient(to bottom right,#C4C4C4 ,#F1F1F1 );
}
.btn1{
    position: relative;
    left:850px;
    bottom: 550px;
}

.btn2{
    position: relative;
    left: 100px;
    bottom:2200px;    
}
button:focus{
    background: linear-gradient(to bottom right,#797878 ,#F1F1F1 );
    transform: scale(1.1);
}
button:hover{
    background: linear-gradient(to bottom right,#797878 ,#F1F1F1 );
    letter-spacing: 1px; 
}
/*  */
.floatingbtn1{
    position: fixed;
    bottom:20px;
    right:50px;
}
#scroll{
    color:black;
    background: 797878;
    cursor: pointer;
    border: none;
    width:50px;
    height: 50px;
    box-shadow:0px 0px 0px #C4C4C4 ;
    display:none;
    }
#img2{

    width: 600px;
    height: 901px;
    outline: 0px;
    padding: 0%;
    margin: 0%;
    position: absolute;
    top: 99px;
    left: 1000px;
 
    


}
#background2{ 

    background-color: #8C8686;
    width:100%;
    height:980px;
  position: relative;
  top:-40px;
    border: none;
    
    }
    #b2{
        color: #CCCBC7;;
        font-size: 80px;
        font-weight: bold;
        white-space: pre-line;
        line-height: 75%;
        position: relative;
        bottom: 630px;
        left: 590px;
 
        font-family: 'Grunge',sans-serif;
  
    }
    #img3{
       height: 760px;
    
        position: relative;
        top: 100px;
        left: 200px;
    }
    #txt3{
        position: relative;
        bottom: 600px;
        left: 840px;
        color: #303030;
        font-size: 20px;
        white-space: pre-line;
        line-height: 150%;
        font-family: 'Grunge',sans-serif;  
    }
    #circle{
        position: relative;
        bottom: 550px;
        left: 850px;
        height: 120px;
        width: 120px;
        border:1px solid #303030a5;
        border-radius: 50%;
    }
    .line{
        position: relative;
        bottom:-50%;
        left:36%;
        width: 40px;
        height: 1px;
        background-color: #303030a5;
        
    
    }
    .arrow{
        position: relative;
        bottom:-53px;
        left:70%;
        border-left: 5px solid #303030a5;
        border-right:8px solid transparent;
        border-top: 8px solid transparent;
        border-bottom: 8px solid  transparent;
    }
    #background3{
  display:grid;
/* grid-row-start:400px; */
        background-color: #DBDBDB;
        width:100%;
        height:880px;
      position: relative;
      top:-40px;
  
        border: none;
        
        }
    #b3{
        color: #303030;
        font-size: 80px;
        font-weight: bold;
        white-space: pre-line;
        line-height: 75%;
        position: relative;
        top:-2300px;
        left: 90px;
  
        font-family: 'Grunge',sans-serif;
 
    }
    #txt4{
        position: relative;
        top:-2250px;
        left: 90px;
        color: #303030;
        font-size: 20px;
        white-space: pre-line;
        line-height: 150%;
        font-family: 'Grunge',sans-serif;  
    }
    .float{
        height: 2390px;     
         position: relative;
         top: -740px;
         right:-300px;
         /* left: 1400px; */
     }
 /* page2    */

p{
    
    white-space: pre-line;
    white-space: pre-wrap;
    font-family: 'Grunge',sans-serif;  
}
#productpage{
    background-color: #DBDBDB;
    width:auto;
    height: 4200px;
}
#paragraph{
   display: inline-flex;
  /* gap:300px; */
    color: #B2B2B2;
    position: relative;
    bottom:200px;;
    
}
     #producthead{
        font-size: 200px;
   
        font-weight: bold;
        
     }
     #p1{
        height: 825px;
        width: 815px;
    position: absolute;
    top: 85px;
    left:890px;
     }
     #paragraph2{
        font-size: 20px;
        font-weight: bold;
        position: relative;
        top:180px
     }
     #p2{
        
        min-width: 1600px;
        position: relative;
        top: 220px;
        
      
   
     }
     #head2{
font-size: 60px;
font-weight: bold;
position: relative;
top:300px;
left:-100px
     }
     #p3{
        height:350px;
     }
    
   #productlist1{
    display: inline-flex;
    gap: 400px;
    position: relative;
    top:290px;
    font-size: 13px;
   }
   #rightproducts{
    display: inline-flex;
    gap:20px;
   }
   #productlist2{
    flex-wrap:nowrap;
    display: inline-flex;
    gap: 395px;
    position: relative;
    top:350px;
    left:415px;
    /* left:345px; */
    font-size: 13px;
 
   }
   
   #p3 ,#p4 ,#p5 ,#p5,#p6,#p7{
    height: 400px;
   }
   #p8{
    width:1100px;
    /* height:700px; */
    /* width:1300px; */
   }
   #p9{
  width:450px;
   }
   #head3{
    position: relative;
    bottom: -300px;
    font-size: 50px;
    font-weight: bold;
   }
   #produt1{
    position: relative;
    left:30px;
   }
   #productlist3{
    display: inline-flex;
    position: relative;
    bottom:-400px;
    gap:60px;
   }
   /* page3 */
   h1{
    white-space: pre-line;
    white-space: pre-wrap;
    font-family: 'Grunge',sans-serif;  
}
#pricepage{
display:inline-flex;
flex-wrap:wrap;
background-color:  #DADBDD;

}
#price1head ,#price2head,#price3head,#price4head,#price5head,#price6head{
    white-space: pre-line;
    white-space: pre-wrap; 
    font-size:30px ;
}
#details1,#details2,#details3,#details4,#details5,#details6{
    display: inline-flex;
    gap:60px;
}
#product1price,#product2price,#product3price,#product4price,#product5price,#product6price{
    padding: 50px 50px;
    margin: 30px;
    background-color: #d0d1dd;
    box-shadow: 0PX 25PX 45PX #BFC0C4;
}
#price1,#price2,#price3,#price4,#price5,#price6{
    gap:10px;
    font-size: larger;
    font-weight: bold;
}
#pri1,#pri2,#pri3,#pri4,#pri5,#pri6{
    height: 650px;
    width: 700px;
    box-shadow: 0PX 25PX 45PX #BFC0C4;
}
/* page3 */
#overviewpage{
    display: flex;
    flex-direction: column;
    width:100vw;
flex-wrap:wrap;
background-color:  #e6e5e9;
justify-content: center;
align-items: center;
padding: 30px 30px;

border: none;
}
#overviewhead{
    justify-content: center;
    display: inline-flex;
    font-size: 20px;
}
.overviewicon{
    height: 50px;

}
#onerviewbtn{
    width:150px;
    height: 60px;
    font-size: 20px;
}
#overviewimg{
 height: 570px;
 
}
#overviewhead2{
    font-size: 40px;
}
#overviewdetails{
    font-size: 25px;
    line-height: 150%;
}